<html>
    <% var successMsg; var errors %>
    <%- include('../../partials/authenticated_navbar.ejs') %>
    <body>
        <main role="main">
            <section class="jumbotron text-center">
				<div class="container">
					<h1 class="jumbotron-heading">Rate a TA</h1>
			</section>
            <% if(successMsg) { %>
                <div
                    class="alert alert-success alert-dismissible fade show container"
                    role="alert"
                >
                    <strong>Success!</strong><%= ` ${successMsg}` %>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %>
            <form
                class="container single-page-form-container border border-primary rounded"
                action="/ta-rating/add-ta-rating"
                method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="TAfirstName">TA First Name</label>
                        <input
                            class="form-control"
                            id="TAfirstName"
                            placeholder="TA first name (required)"
                            name="TAfirstName"
                        />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="TAlastName">TA Last Name</label>
                        <input
                            class="form-control"
                            id="TAlastName"
                            placeholder="TA last name (required)"
                            name="TAlastName"
                        />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="courseName">Course Name</label>
                        <input
                            class="form-control"
                            id="courseName"
                            placeholder="Course name (required, e.g.:COMP 307)"
                            name="courseName"
                        />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="courseTY">Term and Year</label>
                        <input
                            class="form-control"
                            id="courseTY"
                            placeholder="Term and year (required, e.g.: Winter 2022)"
                            name="CourseTY"
                        />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="starRating">Give a rating </label> </br>
                        <input type="radio" id="starRating" name="starRating" value="1">  1 &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" id="starRating" name="starRating" value="2"> &nbsp; 2 &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" id="starRating" name="starRating" value="3"> &nbsp; 3 &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" id="starRating" name="starRating" value="4"> &nbsp; 4 &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" id="starRating" name="starRating" value="5"> &nbsp; 5 &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="comment">Comment</label>
                        <input
                            class="form-control"
                            id="comment"
                            placeholder="Leave a comment (optional)"
                            name="comment"
                        />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </div>
                <% if(errors && errors[0]) { %>
                    <div
                        class="alert alert-danger alert-dismissible fade show"
                        role="alert"
                    >
                        <strong>Invalid: </strong><%= errors[0] %>. Please
                        try again.
                        <button
                            type="button"
                            class="close"
                            data-dismiss="alert"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <% } %>
            </form>
        </main>
    </body>
</html>