<!DOCTYPE html>
<html lang="en">
	<body class="container">
		<h1>Welcome</h1>
		<a href="/login">Login</a>
		<!-- <a href="/account/register">Register</a> -->
		<form action="/logout" method="POST">
			<button>Logout</button>
		</form>
	</body>
</html>
