<html>
    <%- include('../../partials/unauthenticated_navbar.ejs') %>
    <!-- A script that ensures that the user types selected are coherent -->
    <%- include('../../partials/userTypes_checkbox.ejs') %>
    <% var errors; %>
	<body>
        <div class="main-body-container">
            <h3 class="text-center">Welcome to TA-web-services!</h3>
            <h3 class="text-center">Register a new account</h3>
            <form 
                class="container single-page-form-container border border-primary rounded"
                action="/account/register"
                method="POST"
            >
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputFirstName3">First name</label>
                        <input
                            class="form-control"
                            id="inputFirstName3"
                            placeholder="First name (required)"
                            name="firstName"
                        />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputLastName3">Last name</label>
                        <input
                            class="form-control"
                            id="inputLastName3"
                            placeholder="Last name (required)"
                            name="lastName"
                        />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputMcGillId3">McGill ID</label>
    
                        <input
                            class="form-control"
                            id="inputMcGillId3"
                            placeholder="Mcgill ID (required, e.g.: 260293903)"
                            name="mcGillId"
                        />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail3">Email</label>
                        <input
                            type="email"
                            class="form-control"
                            id="inputEmail3"
                            placeholder="Email (required)"
                            name="email"
                        />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputUsername3">Username</label>
                        <input
                            class="form-control"
                            id="inputUsername3"
                            placeholder="Username (required, min 2 alphanumeric characters)"
                            name="username"
                        />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword3">Password</label>
                        <input
                            type="password"
                            class="form-control"
                            id="inputPassword3"
                            placeholder="Password (required, min 3 characters)"
                            name="password"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCourses3">Registered Courses</label>
                    <input
                        class="form-control"
                        id="inputRegisteredCourses3"
                        placeholder="(E.g.: COMP 307,COMP 322,COMP 360)"
                        name="registeredCourses"
                    />
                </div>
                <fieldset class="form-group">
                    <legend class="col-form-label">User type (required)</legend>
                    <div class="form-check">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            name="userTypes[]"
                            id="gridCheck1"
                            value="student"
                            onclick="clickStudent()"
                        />
                        <label class="form-check-label" for="gridRadios1">
                            Student
                        </label>
                    </div>
                    <div class="form-check">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            name="userTypes[]"
                            id="gridCheck2"
                            value="ta"
                            onclick="clickTa()"
                        />
                        <label class="form-check-label" for="gridRadios1">
                            TA
                        </label>
                    </div>
                    <div class="form-check">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            name="userTypes[]"
                            id="gridCheck3"
                            value="prof"
                            onclick="clickProf()"
                        />
                        <label class="form-check-label" for="gridRadios1">
                            Prof
                        </label>
                    </div>
                    <div class="form-check">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            name="userTypes[]"
                            id="gridCheck4"
                            value="admin"
                            onclick="clickAdmin()"
                        />
                        <label class="form-check-label" for="gridRadios1">
                            Admin
                        </label>
                    </div>
                    <div class="form-check">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            name="userTypes[]"
                            id="gridCheck5"
                            value="sysop"
                            onclick="clickSysop()"
                        />
                        <label class="form-check-label" for="gridRadios1">
                            System Operator
                        </label>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">
                            Register
                        </button>
                    </div>
                </div>
                <% if(errors && errors[0]) { %>
                <div
                    class="alert alert-danger alert-dismissible fade show"
                    role="alert"
                >
                    <strong>Invalid Registration: </strong><%= errors[0] %>. Please
                    try again.
                    <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %>
            </form>
        </div>
	</body>
</html>
