<html>
    <%- include('../../partials/authenticated_navbar.ejs') %>
    <% var errors %>
    <body>
        <div class="main-body-container">
            <h3 class="text-center">Import courses with assigned instructors</h3>
            <h4 class="text-center">Please select a CSV file</h4>
            <form 
            class="container single-page-form-container border border-primary rounded"
                action="/sysop-tasks/importing-courses"
                method="POST"
                enctype="multipart/form-data"
                style="margin: 10%;">

                <div class="form-group">
					<p>Please select a file to upload</p>
                    <p>IMPORTANT: Your CSV must have ONLY the following fields (with no header): term_month_year, course_num, course_name, instructor_assigned_name</p>
					<input
                        type="file"
                        accept=".csv"
						id="courseFile"
						name="courseFile"
					/>
				</div>
                <div class="form-group row">
					<div class="col-sm-10">
						<button type="submit" class="btn btn-primary">
							Submit
						</button>
					</div>
				</div>
            </form>
        
        </div>
    </body>
</html>