<html>
    <%- include("../../partials/dashboard/sysop_dashboard.ejs") %> 
    <body>
        <main role="main">
			<section class="jumbotron text-center">
				<div class="container">
					<h1 class="jumbotron-heading">Sysop Tasks</h1>
			</section>

			<div class="album py-5 bg-light">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="card mb-4 shadow-sm">
								<img
									class="card-img-top"
									data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
									alt="Thumbnail [100%x225]"
									style="
										height: 225px;
										width: 100%;
										display: block;
										padding: 1.5vw;
									"
									src="../../images/file-earmark-plus.svg"
									data-holder-rendered="true"
								/>
								<div class="card-body">
									<p class="card-text">
										Quick import courses with assigned instructors from a CSV file.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card mb-4 shadow-sm">
								<img
									class="card-img-top"
									data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
									alt="Thumbnail [100%x225]"
									src="../../images/person-plus-fill.svg"
									data-holder-rendered="true"
									style="
										height: 225px;
										width: 100%;
										display: block;
										padding: 1.5vw;
									"
								/>
								<div class="card-body">
									<p class="card-text">
										Add a user and create an account for them.
									</p>
								</div>
							</div>
						</div>
                        <div class="col-md-4">
							<div class="card mb-4 shadow-sm">
								<img
									class="card-img-top"
									data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
									alt="Thumbnail [100%x225]"
									src="../../images/pencil-square.svg"
									data-holder-rendered="true"
									style="
										height: 225px;
										width: 100%;
										display: block;
										padding: 20px;
									"
								>
								<div class="card-body">
									<p class="card-text">
										Edit / delete user accounts.
									</p>
								</div>
							</div>
						</div>			
						<div class="col-md-4">
							<div class="card mb-4 shadow-sm">
								<img
									class="card-img-top"
									data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
									alt="Thumbnail [100%x225]"
									src="../../images/plus-circle-fill.svg"
									data-holder-rendered="true"
									style="
										height: 225px;
										width: 100%;
										display: block;
										padding: 20px;
									"
								>
								<div class="card-body">
									<p class="card-text">
										Manually add courses with assigned instructors.
									</p>
								</div>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</main>
    </body>
</html>
