<html>
    <%- include("../../partials/dashboard/sysop_dashboard.ejs") %> 
    <body>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img
                                class="card-img-top"
                                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                alt="Thumbnail [100%x225]"
                                style="
                                    height: 225px;
                                    width: 100%;
                                    display: block;
                                "
                                src="../../images/people-fill.svg"
                                data-holder-rendered="true"
                            />
                            <div class="card-body">
                                <p class="card-text">
                                    Manage and administrate TAs, see TA info, history, contact information, and more.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img
                                class="card-img-top"
                                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                alt="Thumbnail [100%x225]"
                                src="../../images/person-plus-fill.svg"
                                data-holder-rendered="true"
                                style="
                                    height: 225px;
                                    width: 100%;
                                    display: block;
                                "
                            />
                            <div class="card-body">
                                <p class="card-text">
                                    Add, create, and manage accounts. Create your account to explore all the features!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img
                                class="card-img-top"
                                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                alt="Thumbnail [100%x225]"
                                src="../../images/star-half.svg"
                                data-holder-rendered="true"
                                style="
                                    height: 225px;
                                    width: 100%;
                                    display: block;
                                    padding: 15px;
                                "
                            >
                            <div class="card-body">
                                <p class="card-text">
                                    Rate a TA! See how a TA has performed in their previous courses.
                                </p>
                            </div>
                        </div>
                    </div>						
                </div>
            </div>
        </div>
    </body>
</html>
