<html>
    <%- include('../../partials/dashboard/sysop_dashboard.ejs') %>
    <% var errors; %>
	<body>
        <div class="main-body-container">
            <h3 class="text-center">Search a user</h3>
            <form class="form-inline">
                <input class="form-control mr-sm-2" style="width: 91%" type="search" placeholder="Search for a user by typing in any single field (e.g.: first name, last name, McGill ID, all registered courses, etc.)" aria-label="Search">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>
        </div>
	</body>
</html>
