<html>
    <%- include('../../partials/authenticated_navbar.ejs') %>
	<% var errors; %>
	<body>
        <div class="main-body-container">
            <h3 class="text-center">Add a course</h3>
            <form
				class="container single-page-form-container border border-primary rounded"
				action="/sysop-tasks/add-course"
				method="POST"
			>	
				<div class="form-group">
					<label for="inputCourseTerm3">Course term</label>
					<input
						class="form-control"
						id="inputCourseTerm3"
						placeholder="E.g.: Fall 2022"
						name="term_month_year"
					/>
				</div>
				<div class="form-group">
					<label for="inputCourseNum3">Course number</label>
					<input
						class="form-control"
						id="inputCourseNum3"
						placeholder="E.g.: COMP 307"
						name="course_num"
					/>
				</div>
				<div class="form-group">
					<label for="inputCourseName3">Course name</label>
					<input
						class="form-control"
						id="inputCourseName3"
						placeholder="E.g.: Web Development"
						name="course_name"
					/>
				</div>
                <div class="form-group">
					<label for="inputInstructor3">Instructor full name</label>
					<input
						class="form-control"
						id="inputInstructor3"
						placeholder="E.g.: Joseph Vibyhal"
						name="instructor_assigned_name"
					/>
				</div>
				<% if(errors && errors[0]) { %>
                    <div
                        class="alert alert-danger alert-dismissible fade show"
                        role="alert"
                    >
                        <strong>Invalid: </strong><%= errors[0] %>. Please
                        try again.
                        <button
                            type="button"
                            class="close"
                            data-dismiss="alert"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <% } %>
				<div class="form-group row">
					<div class="col-sm-10">
						<button type="submit" class="btn btn-primary">
							Add course
						</button>
					</div>
				</div>
			</form>
        </div>
	</body>
</html>