<!DOCTYPE html>
  
<html>
    <%- include("../../partials/dashboard/admin_dashboard.ejs") %> 
    <head>
        <title>
              
        </title>
    </head>
      
    <body>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">View Course Info/History</h1>
                <p>Please select the course you are looking for</p>
        </section>


        <!-- <h1>View Course Info/History</h1> -->
        <div style="margin: 10%;">
            <p>Please select the course</p>
            <select name="TA" id="TA">
                <option value="a">COMP307</option>
                <option value="b">NSCI400</option>
                <option value="c">COMP322</option>
                <option value="d">COMP421</option>
            </select>

        </div>
        
    </body>
</html>