<!DOCTYPE html>

<html>
<%- include("../../partials/dashboard/admin_dashboard.ejs") %>

    <head>
        <title>

        </title>
    </head>

    <body>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">View Course Info/History</h1>
                <p>Please select the course you are looking for</p>
        </section>

        <div style="margin: 10%;">
            <p>Please select the Course</p>
            <form action="/ta-administration/taInfo/result">


                <select name="TA" id="TA">
                <% for(let course of courses) { %>
                    <option value="<%= course.course_name %>"><%= course.course_name %> </option>
                <% } %>

            </select>
                <button type="submit" class="btn btn-outline-primary">select</button>
            </form>
        </div>

    </body>

</html>