<!DOCTYPE html>
  
<html>
    <head>
        <title>
              
        </title>
    </head>
      
    <body>
        <h1>Add/Remove TA to Course</h1>
        <p>Please select the course</p>
        <select name="TA" id="TA">
            <option value="a">Fuanne</option>
            <option value="b">Anne</option>
            <option value="c">Antonio</option>
            <option value="d">Massimo</option>
        </select>
        <p>Please select the TA</p>
        <select name="TA" id="TA">
            <option value="a">Fuanne</option>
            <option value="b">Anne</option>
            <option value="c">Antonio</option>
            <option value="d">Massimo</option>
        </select>
        <br>
        <input type="submit" value="submit">

    </body>
</html>