<!DOCTYPE html>
  
<html>
    <%- include("../../partials/dashboard/admin_dashboard.ejs") %> 
    <head>
        <title>
              
        </title>
    </head>
      
    <body>

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Import Courses</h1>
                <p>Please select a CSV file</p>
        </section>


        <form action="/ta-administration/hello_courses" method="POST" enctype="multipart/form-data" style="margin: 10%;">
            <!-- <h1>Import a TA</h1> -->
            <p>Please select a file to upload</p>   
            <input type="file" accept=".csv" id="myFile" name="filename">
            <input type="submit">
        </form>

    </body>
</html>