<!DOCTYPE html>
  
<html>
    <%- include('../../partials/authenticated_navbar.ejs') %>      
    <body>

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Import Courses</h1>
                <p>Please select a CSV file</p>
        </section>


        <form action="/ta-administration/courses/import" method="POST" enctype="multipart/form-data" style="margin: 10%;">
            <!-- <h1>Import a TA</h1> -->
            <h3>Please select a file to upload</h3>   
            <p>You can only upload a csv with the format: term_month_year, course_num, course_type, course_name, instructor_name, course_enrollment_num, TA_quota</p> 
            <p>With no header</p>
            <input type="file" accept=".csv" id="myFile" name="filename">
            <input type="submit">
        </form>

    </body>
</html>