<!DOCTYPE html>
  
<html>
    <%- include('../../partials/authenticated_navbar.ejs') %>      
    <body>
        <!-- <h1>Import a TA</h1>
        <p>Please select a file to upload</p>
        <label for="myfile">Select a file:</label>
        <input type="file" id="myfile" name="myfile">    -->
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Import Ta</h1>
                <p>Please select a CSV file</p>
        </section>


        <form action="/ta-administration/tas/import" method="POST" enctype="multipart/form-data" style="margin: 10%;">
            <!-- <h1>Import a TA</h1> -->
            <h3>Please select a file to upload</h3>  
            <p>You can only upload a csv with the format: term_month_year, TA_name, student_ID, legal_name, email, grad_ugrad, supervisor_name, priority(yes/no), hours(90/180), date_applied, location, phone, degree, courses_applied_for, open_to_other_courses(yes/no), notes</p> 
            <p>With no header</p>
            <input type="file" id="myFile" name="filename">
            <input type="submit">
        </form>

    </body>
</html>