<!DOCTYPE html>
  
<html>
    <head>
        <title>
              
        </title>
    </head>
      
    <body>
        <h1>TA Administrator Area</h1>
        <p>Hi Admin, what do you want to do today?</p>
        <a href="/ta-administration/import" name="foo" value="send">Import TA and Courses</a>
        <a href="/ta-administration/taInfo"  name="foo" value="send">View TA Info/History</button>
        <a href="/ta-administration/courseInfo"  name="foo" value="send">View Course TA History</button>
        <a href="/ta-administration/edit"  name="foo" value="send">Add/Remove TA to Course</button>









    </body>
</html>