<!DOCTYPE html>
  
<html>
  <%- include('../../partials/authenticated_navbar.ejs') %>
    <body>
      <div class="main-body-container">
          <h3 class="text-center">All these Courses matches the search</h3>
          <table class="table container" style="margin-top:2vw">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Course Number</th>
                  <th scope="col">Course Name</th>
                  <th scope="col">Enrollment</th>
                  <th scope="col">TA Quota</th>
                  <th scope="col">Edit TAs</th>
                </tr>
              </thead>
              <tbody class="container">
               
              </tbody>
            </table>
      </div>
  </body>
</html>