<!DOCTYPE html>

<html>
<%- include("../../partials/dashboard/admin_dashboard.ejs") %>

    <head>
        <title> </title>
    </head>

    <body>
        <div class="main-body-container">SUCCESS</div>
    </body>

</html>