<!DOCTYPE html>

<html>
    <%- include('../../partials/authenticated_navbar.ejs') %>
    <body>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">View TA Info/History</h1>
                <p>Please select the TA you are looking for</p>
        </section>

        <!-- // IMPLEMENT A SEARCH BAR -->

        <!-- <h1>View TA Info/History</h1> -->
        <div style="margin: 10%;">
            <p>Please select the TA</p>
            <form action="/ta-administration/taInfo/result">


                <select name="TA" id="TA">
                <% for(let ta of tas) { %>
                    <option value="<%= ta.TA_name %>"><%= ta.TA_name %> </option>
                <% } %>

                <!-- <option value="a">Fuanne</option>
                <option value="b">Anne</option>
                <option value="c">Antonio</option>
                <option value="d">Massimo</option> -->
            </select>
                <button type="submit" class="btn btn-outline-primary">select</button>
            </form>
        </div>



    </body>

</html>
