<!DOCTYPE html>
  
<html>
    <head>
        <title>
              
        </title>
    </head>
      
    <body>
        <h1>View TA Info/History</h1>
        <p>Please select the TA</p>
        <select name="TA" id="TA">
            <option value="a">Fuanne</option>
            <option value="b">Anne</option>
            <option value="c">Antonio</option>
            <option value="d">Massimo</option>
        </select>

    </body>
</html>